body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'TT Norms Pro Regular';
    font-size: 22px;


}

.content_width{
    max-width: 1440px;
    margin: 0 auto;
}

.background {
    background-image: url(../img/Main_background_fill__long.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 151px 0 60px 0;
}

.container {
    padding: 0 60px 0 60px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
}

@font-face {
    font-family: 'TT Norms Pro Bold';
    src: url('../fonts/TT\ Norms\ Pro\ Trial\ Expanded\ Bold.ttf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'TT Norms Pro DemiBold';
    src: url('../fonts/TT\ Norms\ Pro\ Trial\ Expanded\ DemiBold.ttf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'TT Norms Pro Regular';
    src: url('../fonts/TT\ Norms\ Pro\ Trial\ Expanded\ Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Pro Medium';
    src: url('../fonts/TT\ Norms\ Pro\ Trial\ Expanded\ Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

/* HEADER */

.header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 315px),
        url(../img/Main_banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 900px;
    padding: 18px 0 68px 0;

}

.header__logo {
    max-width: 152px;
    font-family: 'TT Norms Pro Bold';
    font-size: 19px;

    background: linear-gradient(-90deg, #39B99A, #FED217, #FB9030, #F2225D);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.header__title-about {
    font-family: 'TT Norms Pro Bold';
    font-size: 136px;
    line-height: auto;
    margin-right: -15px;
}

.header__logo-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-content: center;
    justify-content: space-between;
    row-gap: 156px;
}

.header__list {
    font-size: 20;
    text-align: center;
    transition: transform 0.5s ease;
}

.color_1:hover {
    transform: scale(1.2);
    color: #F2225D;
    font-weight: 1000;
}

.color_2:hover {
    transform: scale(1.2);
    color: #39B99A;
    font-weight: 1000;
}

.color_3:hover {
    transform: scale(1.2);
    color: #FED217;
    font-weight: 1000;
}

.color_4:hover {
    transform: scale(1.2);
    color: #FB9030;
    font-weight: 1000;
}

.header__desc-button {
    margin-top: 482px;
    align-items: flex-end;
    display: flex;
    justify-content: end;
}

.header__desc {
    max-width: 964px;
    align-items: left;
    text-align: left;
    justify-content: flex-start;
}

.header__desc-research {
    font-family: 'TT Norms Pro Bold';
    font-size: 44px;
    max-width: 784px;
    margin-top: 25px;
    line-height: 110%;
}

.header__button-arrow {
    background-color: #FED217;
    border-radius: 11px;
    padding: 13px;
    cursor: pointer;
}

/* MAIN */


/* SECTION_ABOUT NEWS (1) */

.news__title {
    font-size: 48px;
    font-family: 'TT Norms Pro Bold';
    margin-bottom: 84px;
}

.news__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.news-button {
    background-color: #000000;
    border-radius: 11px;
    border: 2px solid #FFFFFF;
    font-family: 'TT Norms Pro Medium';
    font-size: 18px;
    padding: 8px 24px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.news-button:not(:last-child) {
    margin-right: 16px;
}

.new-things__button {
    background-color: #FED217;
    font-size: 20px;
    color: #000000;
    font-family: 'TT Norms Pro DemiBold';
    padding: 7px 24px;
    border-radius: 11px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.news-button:hover {
    background-color: #FFFFFF;
    transform: scale(1.1);
    border: 2px solid #FFFFFF;
    color: #000000;
}

.new-things__button:hover {
    transform: scale(1.1);
}


.news__block_arrow {
    display: flex;
    align-items: end;
    justify-content: end;
}

.news__images {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
}
.news__images img {
    max-width: 643px;
    height: auto;
    border-radius: 11px;
    /* border: 1px solid #000000;  */
}
.news__images-img1{
    position: relative;
}
.news__images-img2{
    /* position: relative; */
}
.news__button-arrow {
    max-width: 41px;
    height: auto;
    position: absolute;
    margin: 20px;
}

.news__img-container {
    display: block;
    justify-content: column;
}

.news_img_title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 35px;
    margin-bottom: 31px;
}

.news_img_title img {
    width: 24px; height: auto;
}

.news__img-container h2 {
    font-family: 'TT Norms Pro Bold';
    font-size: 32px;
    max-width: 620px;
}



/* SECTION_ABOUT LOCATION (2) */

.location{
    margin-top: 150px;
}

.location__container{
    background-image: linear-gradient(to right, rgba(57, 185, 154, 1) 0%, rgba(57, 185, 154, 0) 1440px),
    url(../img/Section_2.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 99px 60px 60px 60px;
}

.location__container-text {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 31px;
}

.location__container-title{
    font-family: 'TT Norms Pro Bold';
    font-size: 96px;
    max-width: 703px;
    margin-bottom: 355px;
}

.location__container-desc{
    max-width: 702px;
    font-size: 24px;
    
}

.location_download{
    background-color: #39B99A;
    border-bottom-left-radius: 11px;  border-bottom-right-radius: 11px;
    padding: 90px 60px 60px 60px;
    color: #000000;
    font-size: 32px;
    font-family: 'TT Norms Pro Medium';
}
.location_download p{
    cursor: pointer;
}

/* SECTION_ABOUT POPULAR (3) */

.popular {
    margin-top: 150px;
}
.popular__images{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
}
.popular__images img {
    max-width: 420px;
    height: auto;
    border-radius: 11px;
    border: 1px solid #000000; 
}

.popular__images h2 {
    font-family: 'TT Norms Pro Bold';
    font-size: 32px;
    max-width: 419px;
}


/* SECTION_ABOUT PLACE (4) */

.place{
    margin-top: 150px;
}

.place__container {
    background-image: linear-gradient(to right, rgba(242, 34, 93, 1) 0%, rgba(242, 34, 93, 0) 1440px),
    url(../img/Section_3.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 99px 60px 60px 60px;
}

.place__container button {
    background-color: #A9D86F;
    padding: 19px 37px;
    border-radius: 11px;
    color: #000000;
    font-family: 'TT Norms Pro Bold';
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 42px;
}


/* SECTION_ABOUT MAP (5) */

.map{
    margin-top: 150px;
}

.map__text-block{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.map__block {
    display: flex;
    justify-content: space-between;
  }
  
  .map__title {
    font-family: 'TT Norms Pro Bold';
    font-size: 48px;
    margin-bottom: 32px;
  }
  
  .map__text {
    font-size: 22px;
    max-width: 474px;
  }
  
  .map__button {
    background-color: #39B99A;
    border-radius: 11px;
    padding: 19px 40px;
    color: #000000;
    font-size: 22px;
    font-family: 'TT Norms Pro Bold';
    cursor: pointer;
    transition: transform 0.5s ease;
    text-align: center;
  }
  
  .map__button:hover {
    transform: scale(1.1);
  }
  
  .map__img {
    max-width: 675px;
    height: auto;
    border-radius: 11px;
    border: 1px solid #000000;
  }

  /* FOOTER */

  .footer {
    margin-top: 145px;
  }
  
  .footer__block {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  
  .footer__social__title {
    font-family: 'TT Norms Pro DemiBold';
    font-size: 20px;
    margin-bottom: 27px;
  }
  
  .footer__social__text {
    font-size: 20px;
  }